# Node
node_modules/

# NO ignorar dist (frontend build)
!frontend/dist/

# Env
.env

# Ignorar base de datos de Docker
dockerdata/
backend/uploads/
.env

# Media pesada
*.mp4
*.mov
*.avi
frontend/public/video/

# Logs
npm-debug.log*
